div.PwdInputWrapper {
  position: relative;
}

div.PwdInputWrapper > input {
  padding-right: 44px;
}

div.PwdInputWrapper > button {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  right: 15px;
  border: none;
  padding: 0;
  background: none;
}

div.PwdInputWrapper > button > svg {
  width: 24px;
  height: 24px;
  color: var(--theme-stroke2);
  cursor: pointer;
}

div.PwdInputWrapper[data-concealed="true"] button.Reveal {
  display: none;
}

div.PwdInputWrapper[data-concealed="false"] button.Conceal {
  display: none;
}
